body {
  margin: 0;
}

body, td {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

body.full {
  background-color: #008d9e;
  color: #fff;
}

body.full a {
  color: #fff;
}

body.full .header {
  margin: 10px;
}

body.full .back {
  float: left;
  margin-left: 10px;
  margin-right: 26px;
  margin-top: 180px;
}

body.full .content {
  text-align: center;
  margin: 100px;
}

body.page .header {
  padding: 10px;
  background-color: #008d9e;
  color: #fff;
}

body.page .header a {
  color: #fff;
  text-decoration: none;
}

h1.title {
  font-size: 80px;
  font-weight: normal;
}

h2.question {
  font-size: 48px;
  font-weight: normal;
}

body.full a.button, body.full button.button {
  cursor: pointer;
  display: inline-block;
  padding: 20px;
  width: 10em;
  background-color: #fff;
  color: #008d9e;
  font-weight: normal;
  text-decoration: none;
  border-style: none;
  font-size: 26px;
  margin: 10px;
  text-align: center;
}

body.page .content {
  margin: 10px;
}

.options {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.options > li {
  display: inline-block;
  padding: 5px;
  margin-right: 5px;
  border: 1px solid #333;
}

.results {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-width: 50em;
}

.results > li {
  margin-bottom: 5px;
}

.results h2 {
  margin: 0;
  display: inline;
}

.results .contact {
  margin-bottom: 5px;
  padding: 5px;
  background-color: #ccc;
}

.results .meals {
  padding: 5px;
}

.website {
  color: #090;
}

.map {
  float: right;
  width: 300px;
  height: 300px;
  background-color: #ccc;
}

body.edit table {
  border-spacing: 0 10px;
}

body.edit tr:first-child > td {
  border-top: 1px dotted #ccc;
  padding-top: 10px;
}

body.edit tbody:first-child tr:first-child > td {
  border-style: none;
  padding-top: 0;
}

body.edit th {
  text-align: left;
}

body.edit td {
  vertical-align: top;
}

.service-tab {
  display: inline-block;
  padding: 5px;
  border: 1px solid #333;
  background-color: #eee;
}

.service-tab.self {
  border-bottom-style: none;
  background-color: transparent;
  color: #000;
  text-decoration: none;
}
