body {
  margin: 0;
}

body, td {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

body.full {
  background-color: #dfa554;
  color: #fff;
}

body.full a {
  color: #fff;
}

body.full .header {
  margin: 10px;
}

body.full .back {
  float: left;
  margin-left: 10px;
  margin-right: 26px;
  margin-top: 180px;
}

body.full .content {
  text-align: center;
  margin: 100px;
}

body.page .header {
  padding: 10px;
  background-color: #dfa554;
  color: #fff;
}

body.page .header a {
  color: #fff;
  text-decoration: none;
}

h1.title {
  font-size: 80px;
  font-weight: normal;
}

h2.question {
  font-size: 48px;
  font-weight: normal;
}

body.full a.button, body.full button.button {
  cursor: pointer;
  display: inline-block;
  padding: 20px;
  width: 10em;
  background-color: #fff;
  color: #dfa554;
  font-weight: normal;
  text-decoration: none;
  border-style: none;
  font-size: 26px;
  margin: 10px;
  text-align: center;
}

body.page .content {
  margin: 10px;
}

.options {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.options > li {
  display: inline-block;
  padding: 5px;
  margin-right: 5px;
  border: 1px solid #333;
}

.section-header {
  border-top: 1px solid #ccc;
  margin-top: 5ex;
  margin-bottom: 1ex;
}

.section-header span {
  display: inline-block;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  padding: 5px;
}

.results {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.results > li {
  margin-bottom: 5px;
}

.results h2 {
  margin: 0;
  display: inline-block;
}

.results .heading {
  margin-bottom: 2ex;
}

.results .more-info {
  float: right;
  font-weight: bold;
}

.results .more-info img {
  vertical-align: middle;
}

.results .more-info a {
  color: #4285f4
}

.results .meals {
  clear: right;
}

.results .timetable {
}

.results .timetable td {
  border-right: 0.5em solid #fff;
  width: 8em;
  text-align: center;
  vertical-align: top;
  padding-top: 2ex;
  padding-bottom: 2ex;
}

.results .timetable .day-name {
  margin-bottom: 2ex;
  font-variant: small-caps;
}

.results .timetable .closed {
  color: #999;
}

.results .timetable td.odd {
  background-color: #eee; 
}

.results .timetable td.today {
  width: 16em;
}

.results .timetable td.today .closed {
}

.results .timetable td.next {
  border: 2px solid #000;
}

.results .props {
  margin-top: 2ex;
}

.results .metadata {
  clear: both;
  text-align:right;
  font-size: smaller;
}

.website {
  color: #090;
}

.map {
  float: left;
  width: 150px;
  height: 150px;
  margin-right: 2em;
}

body.edit table {
  border-spacing: 0 10px;
}

body.edit tr:first-of-type > td {
  border-top: 1px dotted #ccc;
  padding-top: 10px;
}

body.edit tbody:first-of-type tr:first-of-type > td {
  border-style: none;
  padding-top: 0;
}

body.edit th {
  text-align: left;
}

body.edit td {
  vertical-align: top;
}

body.edit h3 {
  margin: 5px;
  text-align: center;
}

body.edit .location {
  background-color: #dfa554;
  padding: 5px;
}

body.edit .leftview {
  position: fixed;
  left: 10px;
  width: 20em;
  height: 80%;
  background-color: #fff;
}

body.edit .logview {
  font-size: smaller;
  position: absolute;
  width: 100%;
  bottom: 0;
  top: 40px;
  border-right: 1px dotted #ccc;
  overflow: auto;
}

body.edit .logform {
  padding: 5px;
}

body.edit .log {
  clear: both;
  margin-top: 5px;
  position: relative;
  border-top: 1px dotted #ccc;
}

body.edit .logitem {
  border-bottom: 1px dotted #ccc;
  padding-left: 5px;
  padding-right: 5px;
}

body.edit .logitem .metadata {
  font-size: smaller;
  color: #999;
}

body.edit .logitem .category {
  float: right;
  color: #999;
}

body.edit .disabled td {
  color: gray;
}

body.edit td:first-of-type {
  white-space: nowrap;
  padding-right: 10px;
}

body.edit button {
  font-size: inherit;
  color: #000;
  cursor: pointer;
  background-color: #dfa554;
  border-style: none;
  padding: 5px;
  border-radius: 2px;
}

body.edit .disabled button {
  color: gray;
  cursor: default;
}

body.edit button.service-tab {
  font-size: inherit;
  padding: 5px;
  border: 1px solid #333;
  background-color: #eee;
  color: blue;
  cursor: pointer;
}

body.edit span.service-tab {
  display: inline-block;
  padding: 5px;
  border: 1px solid #333;
  border-bottom-style: none;
}

body.edit button.rem {
  color: #000;
}

body.edit .disabled button.rem {
  color: gray;
}

body.edit .disabled > tr > td {
    position: relative;
}

body.edit .disabled > tr > td:after {
    position: absolute;
    background-color: white;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    display: block;
    content: " ";
    top: 0;
    left: 0;
    z-index: 1;
}
