body {
  margin: 0;
}

body, td {
  font-family: sans-serif;
}

body.full {
  background-color: #008d9e;
  color: #fff;
  text-align: center;
  padding-top: 100px;
}

body.full a {
  color: #fff;
}

.header {
  padding: 10px;
  background-color: #008d9e;
  color: #fff;
}

.header a {
  color: #fff;
  text-decoration: none;
}

body.full a.button, body.full button.button {
  display: inline-block;
  padding: 20px;
  width: 16em;
  background-color: #fff;
  color: #008d9e;
  font-weight: bold;
  text-decoration: none;
  border-style: none;
  font-size: inherit;
  margin: 10px;
}

.content {
  margin: 10px;
}

.options {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.options > li {
  display: inline-block;
  padding: 5px;
  margin-right: 5px;
  border: 1px solid #333;
}

.results {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.results > li {
  border: 1px solid #333;
  margin-bottom: 5px;
}

.results h2 {
  margin: 0;
  display: inline;
}

.results .contact {
  margin-bottom: 5px;
  padding: 5px;
  background-color: #ccc;
}

.results .meals {
  padding: 5px;
}

.website {
  color: #090;
}

.map {
  float: right;
  width: 300px;
  height: 300px;
  background-color: #ccc;
}
