{% extends "base.html" %}
{% block title %}Results{% endblock %}
{% block scripts %}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPLQNqjHF0Y_u8yAwmSZInEIJoWnlgFu8&sensor=false">
</script>

{% endblock %}

{% block classes %}page list{% endblock %}
{% block body %}

<div class="header">
<a href="/">Bridge Resource Finder</a>
</div>

<div class="content">
<h1>Food</h1>

<ul class="options">
{% for option in options %}
  <li><a href="{{ option.get_query_url() }}">{{ option.criterion.title }}</a>:
      {{ option.desc_value() }}
{% endfor %}
</ul>

<ul class="results">
{% for result in results %}
  <li>
  <div class="map" 
       data-location="{{ result.location.lat }},{{ result.location.lon }}"
       {% if origin %}data-origin="{{ origin.lat }},{{ origin.lon }}"{% endif %}></div>
  <div class="contact">
    <h2>
      {% if result.service_type %}
        {{ _(result.service_type.name) }}
        {% if result.service_detail %} : {{ result.service_detail}}{% endif %} 
        <br>
      {% endif %}
      {{ result.name }}
    </h2>

    {% if result.website %} - <span class="website">{{ result.website }}</span>{% endif %}

    {% if result.address %} - <span class="address">{{ result.address }}</span>{% endif %}
  </div>
  <div class="meals">
    {% macro renderMeal(name, meal) -%}
      {% if meal.days %}
        <div class="meal">
        <h3>{{ name }}</h3>
        {{ meal.start }} - {{ meal.end }},
        {% for day in meal.days %}
          <span>
          {{ ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'][day] }}
          </span>
        {% endfor %}
        <ul>
        {% for item in meal.menu %}
          <li>{{ item }}
        {% endfor %}
        <ul>
        </div>
      {% endif %}
    {%- endmacro %}

    {% if result.breakfast %}{{ renderMeal('Breakfast', result.breakfast) }}{% endif %}
    {% if result.lunch %}{{ renderMeal('Lunch', result.lunch) }}{% endif %}
    {% if result.snack %}{{ renderMeal('Snack', result.snack) }}{% endif %}
    {% if result.dinner %}{{ renderMeal('Dinner', result.dinner) }}{% endif %}
  </div>
  <div class="props">
    <ul>
      {% if result.accessible %}<li>Wheelchair Access{% endif %}
      {% if result.requires_ticket %}<li>Requires Ticket{% endif %}
      {% if result.requires_local_addr %}<li>Requires Local Address{% endif %}
      {% if result.requires_church_attend %}<li>Requires Church Attendence{% endif %}
    </ul>
  </div>
  {% if result.id %}
    <a href="/edit?id={{ result.id }}&service_id={{ result.service_id }}&r={{ request.path_qs|urlencode }}">Edit</a>
  {% endif %}

  <br clear=both>
{% else %}
  <li>No results 
{% endfor %}
</ul>

<script>

function parseLatLng(attr) {
  var pair = attr.split(',');
  if (pair.length != 2) return;
  var lat = parseFloat(pair[0]);
  if (isNaN(lat)) return;
  var lng = parseFloat(pair[1]);
  if (isNaN(lng)) return;
  return new google.maps.LatLng(lat, lng);
}

var maps = document.getElementsByClassName('map');
var directionsService = new google.maps.DirectionsService();
for (var i = 0; i < maps.length; i++) {
(function() {
  var dest = parseLatLng(maps[i].dataset.location);
  var origin = parseLatLng(maps[i].dataset.origin);
  if (!dest) return;
  
  var map = new google.maps.Map(maps[i], {
    center: dest,
    zoom: 15,
    disableDefaultUI: true,
    draggable: false,
    disableDoubleClickZoom: true
  });
  new google.maps.Marker({
    map: map,
    clickable: false,
    position: dest
  });
  var directionsRenderer = new google.maps.DirectionsRenderer({
    preserveViewport: true,
    suppressMarkers: true
  });
  directionsRenderer.setMap(map);
  if (origin) {
    directionsService.route(
        {
          origin: origin,
          destination: dest,
          travelMode: google.maps.TravelMode.WALKING
        },
        function(result, status) {
          if (status == google.maps.DirectionsStatus.OK) {
            directionsRenderer.setDirections(result);
          }
        });
  }
})();
}

</script>

</div>
{% endblock %}

