{% extends "base.html" %}

{% import "common.html" as common with context %}

{% block title %}Results{% endblock %}
{% block scripts %}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPLQNqjHF0Y_u8yAwmSZInEIJoWnlgFu8&sensor=false">
</script>

{% endblock %}

{% block classes %}page list{% endblock %}
{% block body %}

<div class="header">
<a href="/">Free Print Shop</a>
</div>

<div class="content">
<h1>Free Eats</h1>

<ul class="options">
{% for option in options %}
  <li><a href="{{ option.get_query_url() }}">{{ option.criterion.title }}</a>:
      {{ option.desc_value() }}
{% endfor %}
</ul>

{% if not results or results[0].section != SearchSection.TODAY %}
  <div class="section-header"><span>TODAY</span></div>
  {% if results %}
    No results for today match your query. See below for other options.
  {% else %}
    No results match your query.
  {% endif %}
{% endif %}

{% for section, section_results in results %}
  {% if section == SearchSection.TODAY %}
    <div class="section-header"><span>TODAY</span></div>
  {% else %}
    <div class="section-header"><span>LATER</span></div>
  {% endif %}

  <ul class="results">
  {% for result in section_results %}
    <li>
    <div class="map" 
         data-location="{{ result.location.lat }},{{ result.location.lon }}"
         {% if origin %}data-origin="{{ origin.lat }},{{ origin.lon }}"{% endif %}></div>
    <div class="heading">
      <h2>
        {% if result.service_type %}
          {% if result.service_detail %}
            {{ result.service_detail}}
          {% else %}
            {{ _(result.service_type.name) }}
          {% endif %} 
          <br>
        {% endif %}
      </h2>

      <div>
        <div class="more-info">
          <a href="/locations/{{ result.id }}"><img src="/_/s/info.png" alt="More Information"></a>
          <a href="/locations/{{ result.id }}">More Information</a>
        </div>

        {{ result.name }}    
      </div>

    </div>
    <div class="meals">
      <table class="timetable">
      <tr>
      {% for offset in range(7) %}
        {% set day = (search_context.now.weekday() + offset) % 7 %}
        <td class="{{ loop.cycle('odd', 'even') }}
            {% if day == search_context.now.weekday() %}today{% endif %}">
          <div class="day-name">
            {{ ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'][day] }}
          </div>
          {% for service_time in result.service_days[day] %}
            <div>{{ common.timerange(service_time.start, service_time.end) }}</div>
          {% else %}
            <div class="closed">Closed</div>
          {% endfor %}
        </td>
      {% endfor %}
      </tr>
      </table>
    </div>
    <div class="props">
      <ul>
        {% if result.accessible %}<li>ADA Accessible{% endif %}
        {% if result.requires_ticket %}<li>Requires Ticket{% endif %}
        {% if result.requires_local_addr %}<li>Requires Local Address{% endif %}
        {% if result.requires_church_attend %}<li>Requires Church Attendence{% endif %}
      </ul>
      {% if result.service_notes %}
        <div>{{ result.service_notes }}</div>
      {% endif %}
    </div>
    {% if result.id %}
      <div class="metadata">
      Last updated: {{ common.timestamp(result.last_modified) }}
      <a href="/edit?id={{ result.id }}&service_id={{ result.service_id }}&r={{ request.path_qs|urlencode }}">Edit</a>
      </div>
    {% endif %}

    <br clear=both>
  {% endfor %}
  </ul>
{% endfor %}


<div>
<a href="/edit">+ Add New</a>
</div>

<script>

function parseLatLng(attr) {
  var pair = attr.split(',');
  if (pair.length != 2) return;
  var lat = parseFloat(pair[0]);
  if (isNaN(lat)) return;
  var lng = parseFloat(pair[1]);
  if (isNaN(lng)) return;
  return new google.maps.LatLng(lat, lng);
}

var maps = document.getElementsByClassName('map');
var directionsService = new google.maps.DirectionsService();
for (var i = 0; i < maps.length; i++) {
(function() {
  var dest = parseLatLng(maps[i].dataset.location);
  var origin = parseLatLng(maps[i].dataset.origin);
  if (!dest) return;
  
  var map = new google.maps.Map(maps[i], {
    center: dest,
    zoom: 15,
    disableDefaultUI: true,
    draggable: false,
    disableDoubleClickZoom: true
  });
  new google.maps.Marker({
    map: map,
    clickable: false,
    position: dest
  });
  /*var directionsRenderer = new google.maps.DirectionsRenderer({
    preserveViewport: true,
    suppressMarkers: true
  });
  directionsRenderer.setMap(map);
  if (origin) {
    directionsService.route(
        {
          origin: origin,
          destination: dest,
          travelMode: google.maps.TravelMode.WALKING
        },
        function(result, status) {
          if (status == google.maps.DirectionsStatus.OK) {
            directionsRenderer.setDirections(result);
          }
        });
  }*/
})();
}

</script>

</div>
{% endblock %}

