{% extends "base.html" %}

{% import "service.html" as service with context %}

{% block title %}Results{% endblock %}
{% block scripts %}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPLQNqjHF0Y_u8yAwmSZInEIJoWnlgFu8&sensor=false">
</script>

{% endblock %}

{% block classes %}page list{% endblock %}
{% block body %}

<div class="header">
<a href="/">Free Print Shop</a>
</div>

<div class="content">
<h1>Free Eats</h1>

<ul class="options">
{% for option in options %}
  <li><a href="{{ option.get_query_url() }}">{{ option.criterion.title }}</a>:
      {{ option.desc_value() }}
{% endfor %}
</ul>

<div class="sections">

{% if SearchSection.NOW not in sections and SearchSection.TODAY not in sections %}
  <div class="section-header"><span>TODAY</span></div>
  {% if results %}
    No results for today match your query. See below for other options.
  {% else %}
    No results match your query.
  {% endif %}
{% endif %}

{% for section, section_results in results %}
  {% if section == SearchSection.NOW %}
    <div class="section-header"><span>OPEN NOW</span></div>
  {% elif section == SearchSection.TODAY %}
    <div class="section-header"><span>OPEN LATER TODAY</span></div>
  {% else %}
    <div class="section-header"><span>OPEN LATER THIS WEEK</span></div>
  {% endif %}

  <ul class="results">
  {% for result in section_results %}
    <li>{{ service.result(result) }}
  {% endfor %}
  </ul>
{% endfor %}


<div>
<a href="/edit">+ Add New</a>
</div>

</div>

<script>

function parseLatLng(attr) {
  var pair = attr.split(',');
  if (pair.length != 2) return;
  var lat = parseFloat(pair[0]);
  if (isNaN(lat)) return;
  var lng = parseFloat(pair[1]);
  if (isNaN(lng)) return;
  return new google.maps.LatLng(lat, lng);
}

var maps = document.getElementsByClassName('map');
var directionsService = new google.maps.DirectionsService();
for (var i = 0; i < maps.length; i++) {
(function() {
  var dest = parseLatLng(maps[i].dataset.location);
  var origin = parseLatLng(maps[i].dataset.origin);
  if (!dest) return;
  
  var map = new google.maps.Map(maps[i], {
    center: dest,
    zoom: 15,
    disableDefaultUI: true,
    draggable: false,
    disableDoubleClickZoom: true
  });
  new google.maps.Marker({
    map: map,
    clickable: false,
    position: dest
  });
  /*var directionsRenderer = new google.maps.DirectionsRenderer({
    preserveViewport: true,
    suppressMarkers: true
  });
  directionsRenderer.setMap(map);
  if (origin) {
    directionsService.route(
        {
          origin: origin,
          destination: dest,
          travelMode: google.maps.TravelMode.WALKING
        },
        function(result, status) {
          if (status == google.maps.DirectionsStatus.OK) {
            directionsRenderer.setDirections(result);
          }
        });
  }*/
})();
}

</script>

</div>
{% endblock %}

